<h1>商品詳細</h1>
<div>
  <%= image_tag @item.get_item_image(100,100) %>
</div>
<div>
  <p>商品名<%= @item.name %></p>
</div>
<div>
  <p>商品説明<%= @item.introduction %></p>
</div>
<div>
  <p>ジャンル<%= @item.genre.name %></p>
</div>
<div>
  <p>税込価格（税抜価格）<%= @item.price + @item.price*0.1 %>円(<%= @item.price %>円)</p>
</div>
<div>
  <p>販売ステータス
    <% if @item.is_active %>
      <p>販売中</p>
    <% else %>
      <p>販売停止中</p>
    <% end %>
  </p>
</div>