<div class="container">
  <div class="row">
    <div class="col-md-2 mt-4 bg-secondary text-center text-light h3", style="margin-left:50px;">
       <h5>管理者ログイン</h5>
    </div>
  </div>
  <div class="row ml-5">
    <div class="col-md-9 mt-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr>
            <td>
              <%= f.label :"メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 400px; margin-left:50px;" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :"パスワード", style: "margin-top:25px;" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", style: "width: 400px; margin-left:50px;  margin-top:25px;" %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class: "btn btn-primary", style: "margin-left:50px; margin-top:25px;"  %></td>
          </tr>
        </table>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>