<h1>ジャンル一覧・追加</h1>

<!--ジャンル追加-->
<%= form_with model: @genre,url: admin_genres_path do |f| %>
  <div class="form-group">
    <h4>ジャンル</h4>
    <%= f.text_field :name, placeholder: "ジャンル名" %>
  </div>

  <div class="form-group">
    <%= f.submit '新規登録', class: "btn btn-success btn-sm btn-block" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td>
        <%= genre.name %>
      </td>
      <td>
        <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>