<div class="container">
  <div class="row">
    <div class="col-md-2 mt-4 bg-secondary text-center text-light h3", style="margin-left:50px;">
       <h5>配送先編集</h5>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= form_with model: @address,url: address_path(@address.id), method: :patch do |f| %>
        <table>
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td class="col-md-8"><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td class="col-md-8"><%= f.text_field :address, style: "width:400px" %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td class="col-md-8"><%= f.text_field :name %>　<%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>