<div class="container">
  <div class="row">
    <div class="col-md-2 mt-4 bg-secondary text-center text-light h3", style="margin-left:50px;">
       <h5>注文情報確認</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary align-middle">
            <th class="col-md-3">商品名</th>
            <th class="col-md-1">単価(税込)</th>
            <th class="col-md-1">数量</th>
            <th class="col-md-1">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.get_item_image(60,60) %><%= cart_item.item.name %></td>
            <td class="align-middle"><%= cart_item.item.with_tax_price %></td>
            <td class="align-middle"><%= cart_item.amount %></td>
            <td class="align-middle"><%= cart_item.subtotal%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered">
        <tr>
          <td class="col-md-4 table-secondary align-middle">送料</td>
          <td class="col-md-4 align-middle"><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td class="col-md-4 table-secondary align-middle">商品合計</td>
          <td class="col-md-4 align-middle"><%= @cart_items.sum(&:subtotal) %></td>
        </tr>
        <tr>
          <td class="col-md-4 table-secondary align-middle">請求金額</td>
          <td class="col-md-4 align-middle"><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 d-flex">
      <h5><strong>支払方法</strong></h5>
      <p class="ml-3"><%= @order.payment_method_i18n %></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6 d-flex">
      <h5><strong>お届け先</strong></h5>
      <p class="ml-3">
        〒<%= @order.postal_code+@order.address %><br>
          <%= @order.name %>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :shipping_cost %>
        <%= f.hidden_field :total_payment %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :status %>
        <%= f.submit"注文を確定する", class: "btn btn-success" %>
      <% end %>
    </div>  
  </div>
  
</div>

