<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4 bg-secondary text-center text-light h3", style="margin-left:50px;">
       <h5>注文情報入力</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @order, url: confirm_path, method: :post do |f| %>
        <div>
          <p><strong>支払い方法</strong></p>
          <div style="margin-left:50px;">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          </div>
          <div style="margin-left:50px;">
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
          </div>
        </div>
        <div>
          <p><strong>お届け先</strong></p>
          <!--自身の住所-->
          <div>
            <div style="margin-left:50px;">
             <%= f.radio_button :address_select, 0, checked: true %>
             <%= f.label :address_select, "ご自身の住所" %>
            <p style="margin-left:50px;">
              〒<%= current_customer.postal_code+current_customer.address+current_customer.first_name+current_customer.last_name %>
            </p>
          </div>
            <!--登録済み住所-->
            <div style="margin-left:50px;">
              <% if @addresses.present? %>
                <%= f.radio_button :address_select, 1 %>
                <%= f.label :address_select, "登録済み住所" %>
              <div class="col", style="width:400px; margin-left:50px;">
                <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display),style: "width:80%" %>
              </div>
              <% end %>
            </div>
            <!--新しいお届け先-->
            <div style="margin-left:50px;">
              <%= f.radio_button :address_select, 2 %>
              <%= f.label :address_select, "新しいお届け先" %>
              <table class="ml-5">
                <tr>
                  <td>郵便番号(ハイフンなし)</td>
                  <td class="col-md-9"><%= f.text_field :postal_code, placeholder: "000000" %></td>
                </tr>
                <tr>
                  <td>住所</td>
                  <td class="col-md-9"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町０−０",style: "width:80%"  %></td>
                </tr>
                <tr>
                  <td>宛名</td>
                  <td class="col-md-9"><%= f.text_field :name, placeholder: "令和道子" %></td>
                </tr>
              </table>
            </div>
            <div class="text-center mt-4">
              <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h1></h1>

