<div>
  <%= image_tag @item.get_item_image(100,100) %>
</div>
<div>
  <%= @item.name %>
</div>
<div>
  <%= @item.introduction %>
</div>
<div>
  ¥<%= (@item.price*1.1).floor %>円(税込)
</div>
<div>
  <!--カートのcreatアクションに送る用-->
  <%= form_with model: @cart_item do |f| %> 
  <!--個数選択-->
    <%= f.number_field :amount %>
  <!--hidden_fieldで@cart_itemにitem_idとcustomer_idのカラムに商品と顧客のIDを送る-->
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
  <!--ボタンで情報送信-->
    <%= f.submit "カートに入れる" %>
  <% end %>  
</div>
